h1= title
p Welcome to #{title}
#login
	p
		label(for="meetingID") Meeting:
		select(id="meetingID")
			- rooms.forEach(function(item){
			option(value="#{item}") #{item}
			- })
	p
		label(for="username") Your name:
		input(type="text", id="username")
	p
		button(type="button",id="btnLogin") Enviar

#main
	#userlist
		h3 Users
		#users
	#chat
		h3 BigBlueButton Chat
		#history
		#sendmsg
			input(type="text",id="msg")
			button(type="button",id="btnSendMsg") Enviar
	